body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f1e4;
}

header {
    background-color: #6f4e37;
    color: white;
    text-align: center;
    padding: 15px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.produk {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.produk-item {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

img {
    width: 100%;
    border-radius: 10px;
}

button {
    background-color: #6f4e37;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #54392f;
}
.sidebar {
    width: 120px;
    height: 100vh;
    background-color: #333;
    color: white;
    padding-top: 20px;
    position: absolute;
    left: 0;
    top: 109px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #444;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li:hover {
    background-color: #555;
}

/* Konten utama */
.main-content {
    margin-left: 100px;
    padding: 20px;
    width: 100%;
    background-color: #f4f4f4;
}




